# General
*.vagrant
.bundle
build/*
tools/chef/cookbooks/*
tools/chef/tmp/*
tools/assets/*
bin/*
.DS_Store
secret.key
/auth.json
/.buildpath
/.cache
/.phpstorm.meta.php
/.metadata
/.project
/.settings
atlassian*
/nbproject
/.idea
/.gitattributes
/app/config_sandbox

# Composer
vendor
composer.phar

# Frontend
.sass-cache/*
*.css.map
**/node_modules/


# Magento
.htaccess
.htaccess.sample
.php_cs
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
CONTRIBUTOR_LICENSE_AGREEMENT.html
COPYING.txt
Gruntfile.js
/LICENSE*.txt
/app/code/Magento
/app/design/adminhtml/Magento
/app/design/doc
/app/design/frontend/Magento
/app/etc
/app/i18n/magento
/app/*.*
/composer.json
composer.lock
dev/
index.php
lib/
nginx.conf.sample
package.json
php.ini.sample
phpserver/
pub/
setup/
/sitemap
/update/
var/

#configuration
configure-magento-config.php
install-magento2.sh
tools/chef/site-cookbooks/**/cookbooks

/.grunt
/tools/assets/*
/tools/capistrano/log/
/tools/chef/cookbooks/
/tools/chef/site-cookbooks/*/Berksfile.lock
/tools/chef/encrypted_data_bag_secret
/tools/chef/permissions_added.status
/tools/chef/tmp/*
/tools/hem/*
!/tools/hem/composer*
