<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\SubscriberServiceContract\Api\Data\SubscriberInterface" type="Training\SubscriberServiceContract\Model\Subscriber" />
    <preference for="Training\SubscriberServiceContract\Api\SubscriberRepositoryInterface" type="Training\SubscriberServiceContract\Model\SubscriberRepository" />
</config>